@import '../../theme.css';

.app__section__content {
  font-family: 'Roboto';
  font-weight: 400;
}

.app__section__title {
  font-style: italic;
  font-size: 3rem;
}

.app__section__body {
  font-style: normal;
  font-size: 1.5rem;
}
