@import './theme.css';

.app {
  position: fixed;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.section__body {
  height: 100%;
}

.section__icon {
  cursor: pointer;
  float: left;
  position: absolute;
  height: 7.813rem;
  width: 7.813rem;
}

.title {
  font-family: 'Morganite-Light';
  font-weight: 700;
  font-size: 10rem;
  letter-spacing: 1.3rem;

  width: 100%;
  height: 25vh;

  text-align: center;
  float: left;

  padding-top: 2rem;
}

.content {
  font-family: 'SFProDisplay-Light';
  font-size: 1.5rem;

  width: 75%;
  height: 75vh;

  margin: 0 auto;
  padding-top: 5rem;

  text-align: justify;
  line-height: 1.5;
}

.quote {
  font-family: 'SFProDisplay-RegularItalic';
  color: var(--light-green);

  text-align: center;

  width: 50%;
  margin-left: 25%;
}

.left_content {
  font-family: 'SFProDisplay-Light';
  font-size: 1.4rem;

  width: 30%;
  height: 75vh;

  margin: 0 auto;
  padding-top: 5rem;

  text-align: right;
  line-height: 1.5;
  position:absolute;
  top: 200px;
  left: 200px;
}

.screen_shots {
  width: 50%;
  height: auto;

  position:absolute;
  top: 125px;
  right: 100px;
}

.app_button {
  width: 15%;
  height: auto;

  position:absolute;
  top: 500px;
  left: 395px;
}

.one {
  background-color: var(--dark-green);
}

.one .app__title {
  color: var(--light-grey);

  font-family: 'Morganite-Bold';
  font-weight: 500;
  font-size: 20rem;
  letter-spacing: 4px;

  width: 100%;
  height: 60vh;

  position: relative;

  text-align: center;
  float: left;
}

.one .app__title__text {
  position: absolute;
  line-height: 10rem;

  bottom: 0;
  width: 100%;
}

.one .app__content {
  color: var(--light-grey);
  font-family: 'Morganite-Light';
  font-size: 5rem;
  letter-spacing: 1rem;

  width: 100%;
  height: 40vh;
  padding-top: 0.5rem;

  text-align: center;
  float: left;
}

.two {
  background-color: var(--light-grey);
}

.two .title {
  color: var(--dark-green);
}

.two .content {
  color: var(--dark-green);
}

.three {
  background-color: var(--lighter-orange);
}

.three .title {
  color: var(--light-grey);
}

.three .content {
  color: var(--light-grey);
}

.four {
  background-color: var(--black);
}

.four .title {
  color: var(--lighter-orange);
}

.four .content {
  color: var(--lighter-orange);
}

.nine {
  background-color: var(--black);
}

.nine .content {
  color: var(--lighter-orange);
  padding-top: 0rem;
}

.five {
  background-color: var(--light-grey);
}

.five .title {
  color: var(--lighter-orange);
}

.five .content {
  color: var(--lighter-orange);
}

.ten {
  background-color: var(--light-grey);
}

.ten .content {
  color: var(--lighter-orange);

  padding-top: 0rem;
}

.ten .quote {
  color: var(--dark-green);

  font-family: 'SFProDisplay-Bold';

  text-align: justify;

  width: 100%;
  margin-left: 0%;

}


.six {
  background-color: var(--lighter-orange);
}

.six .title {
  color: var(--black);
}

.six .content {
  color: var(--black);
}

.six .quote {
  color: var(--light-grey)
}

.seven {
  background-color: var(--light-green);
}

.seven .title {
  color: var(--light-grey);
}

.seven .content {
  font-family: 'SFProDisplay-Light';
  font-size: 1.75rem;

  width: 100%;
  height: 75vh;

  position: absolute;

  margin: 0 auto;
  padding-top: 5rem;

  text-align: justify;
  line-height: 1.5;

  z-index: 0;
}

.seven .member__block {
  background-color: var(--light-grey);

  width: 100%;
  height: 35%;

  position: absolute;

  top: 54%;

  z-index: 1;
}

.seven .member__cutouts {
  position: absolute;
  top: 176px;
  left: 150px;

  width: 80%;
  height: auto;

  z-index: 2;
}

.eight {
  background-color: var(--light-grey);
}

.eight .title {
  color: var(--black);
}

.up {
  position: absolute;

  top: 0;
  left: 0;

  z-index: 10;
}

.down {
  position: absolute;

  bottom: 0;
  left: 0;

  z-index: 10;
}
