body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Morganite-Bold';
  src:
    local('Morganite-Bold'),
    url('./fonts/Morganite-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Morganite-ExtraBold';
  src:
    local('Morganite-ExtraBold'),
    url('./fonts/Morganite-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Morganite-Light';
  src:
    local('Morganite-Light'),
    url('./fonts/Morganite-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src:
    local('PlayfairDisplay-Bold'),
    url('./fonts/PlayfairDisplay-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src:
    local('PlayfairDisplay-Regular'),
    url('./fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SFProDisplay-Bold';
  src:
    local('SFProDisplay-Bold'),
    url('./fonts/SFProDisplay-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SFProDisplay-Light';
  src:
    local('SFProDisplay-Light'),
    url('./fonts/SFProDisplay-Light.ttf') format('truetype');
}
