@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

:root {
  --lighter-green: rgb(120, 160, 140);
  --light-green: rgb(94, 139, 111);
  --dark-green: rgb(67, 110, 79);
  --lightest-orange: rgb(250, 200, 170);
  --lighter-orange: rgb(245, 173, 129);
  --light-orange: rgb(250, 143, 77);
  --dark-orange: rgb(248, 120, 41);
  --light-grey: rgb(242, 239, 234);
  --lighter-grey: rgb(200, 200, 200);
  --dark-grey: rgb(51, 51, 51);
  --darker-grey: rgb(30, 30, 30);
  --black: rgb(19, 19, 19);
  --white: rgb(248, 248, 248);
}
