@import '../../theme.css';

.content__pane {
  margin-top: 0;

  overflow-y: scroll;
  float: left;

  height: calc(100% - 10.5rem);
  width: 100%;
}

.content__section {
  color: var(--lighter-green);
  background-color: var(--black);

  padding-top: 1rem;
  padding-left: 1rem;
  height: 100%;
}
