@import '../../theme.css';

.navigation {
  width: 100%;
  float: left;
}

.navigation__title {
  color: var(--black);
  background-color: var(--lighter-orange);

  font-family: 'Morganite-ExtraBold';
  font-weight: 700;
  font-style: italic;
  font-size: 8.5rem;

  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .2);

  width: 100%;
  height: 7.5rem;

  text-align: center;
  float: left;
}

.navigation__links {
  color: var(--black);
  background-color: var(--lightest-orange);

  font-family: 'Roboto';
  font-size: 1.25rem;

  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .2);

  width: 100%;
  height: 3rem;

  overflow: hidden;
  float: left;
}

.navigation__link {
  float: left;
  padding: 0.75rem;
}

.navigation__link:hover {
  color: var(--black);
  cursor: pointer;
  background-color: var(--light-orange);
}

.active  {
  color: var(--black);
  background-color: var(--light-orange);
}
